/* MD 1100PX */

/* S 700PX */

/* XS 600PX */

@media screen and (max-width: 600px) {
    /* SIDEBAR */

    .sidebar {
        width: 40px;
    }

    .logo {
        display: none;
    }
    
    .logo-small {
        display: block;
        width: 12%;
        margin: 5px;
    }

    .menu span, h4{
        display: none;
    }

    .menu ul li img {
        margin-right: 0;
    }

    .menu ul li  {
        margin-left: 0;
        margin: 9px;
    }

    .menu .green {
        border-left: none;
    }

    .menu .green .home {
        margin-left: 0;
        margin: 8px;
    }

    .install span {
        display: none;
    }

    .install p {
        margin-left: 0;
        padding: 0;
    }

    .install h5 img {
        margin-left: 0;
    }

    .install p img {
        width: 6%;
        margin-right: 0;
        margin: 12px;
    }

    .install h5 img {
        margin-left: 11px;
        margin-right: 0;
        margin-bottom: 5px;
    }

    .install h5 {
        padding: 0;
    }

    /* HEADER */

    .header {
        width: calc(100% - 40px);
        left: 40px;
    }

    /* CONTENT */

    .content {
        width: calc(100% - 40px);
    }
}