/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

img {
    max-width: 100%;
}

/* HEADER */

/* MAIN */

#spotify {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    background-color: rgba(20, 25, 34, 1);
}

.sidebar {
    height: 100%;
    width: 250px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu {
    width: 250px;
}

.logo {
    display: block;
    margin: 10px 90px 20px 20px;
}

.logo-small {
    display: none;
}

.menu .green {
   color: white;
   border-left: 3px solid rgba(173, 255, 47, 1);
}

.menu .green .home {
    margin-left: 17px;
}

.menu ul li {
    margin-left: 20px;
    list-style-type: none;
    line-height: 1.5rem;
    font-size: 0.6rem;
    color: rgba(107, 107, 107, 1);
}

.menu ul li img {
    width: 10%;
    vertical-align: middle;
    margin-right: 4px;
}

.menu h4 {
   /* font-size: ; */
   margin-left: 20px; 
   padding-top: 20px;
   color: white;
   font-size: 0.9rem;
}

.menu ul li i {
    font-size: 2.5rem;
    vertical-align: middle;
    padding-right: 5px;
}

.menu ul li:hover {
    color: white;
    cursor: pointer;
}

.install {
    width: 250px;
}

.install p img {
    width: 6%;
    vertical-align: middle;
    margin-right: 15px;
}

.install p {
    font-size: 0.6rem;
    color: rgba(107, 107, 107, 1);
    margin-left: 20px;
    padding-bottom: 7px;
}

.install p:hover {
    color: white;
    cursor: pointer;
}

.install hr {
    width: 85%;
    margin: 0 auto;
}

.install h5 img {
    width: 19px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(107, 107, 107, 1);
    object-fit: cover;
    margin-left: 20px;
    margin-right: 10px;
}

.install h5 {
    padding-top: 7px;
    color: white;
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding-bottom: 5px;
}

/* CONTENT */

.content {
    height: 100%;
    width: calc(100% - 250px);
    overflow-y: auto;
    /* display: flex;
    align-items: center;
    flex-direction: column; */
    padding-top: 70px;
}

/* HEADER */

.header {
    height: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    width: calc(100% - 250px);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 250px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.header-nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
}

.header-nav a {
    padding: 10px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 0.7rem;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid white;
    color: white;
}

.header-nav a:hover {
    transform: scale(1.1);
}

/* MENU ALBUM */

.content-menu {
    width: 60%;
    margin: 0 auto;
    /* height: 50px; */
}

.content-menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.content-menu ul li {
    /* height: 50px; */
    list-style-type: none;
    font-size: 0.65rem;
    color: rgba(125, 127, 132, 1);
    cursor: pointer;
}

.content-menu .menu-green {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -4px;
}

.content-menu .menu-green span {
    border-bottom: 3px solid rgba(173, 255, 47, 1);
    width: 30px;
    margin-top: 2px;
}

.content-menu ul li:hover {
    color: white;
}

/* ROW */

.row {
    height: 250px;
    width: 100%;
    /* background-color: aqua; */
    padding: 50px;
    display: flex;
}

.box {
    width: 50%;
    height: 50%;
    background-color: blue;
    margin: 10px;
}

/* FOOTER */

footer {
    height: 70px;
    width: 100%;
    background-color: rgba(40, 40, 40, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container {
    height: 60px;
    width: 100%;
    background-color: lightslategray;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.singer {
    width: 250px;
    height: 50px;
    background-color: white;
}

.play {
    width: 40%;
    margin: 0 auto;
    height: 50px;
    background-color: white;
}

.volume {
    width: 250px;
    height: 50px;
    background-color: white;
}